repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^python/

      - id: ruff-format
        files: ^python/

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check . --python python/.venv
        language: system
        files: ^python/

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-check
        files: ^typescript/
